b-navbar(toggleable="lg" type="dark" variant="primary" fixed="top")
    b-navbar-brand(to="/")
        img(alt='RP Funding' src='../../assets/rpfundinglogo.png').logo

    b-navbar-toggle(target="nav-collapse")

    b-collapse(is-nav)#nav-collapse

      // Right aligned nav items
      b-navbar-nav.ml-auto
        // New Order
        b-button(variant="success" v-b-modal.newOrder) + New Order

        b-modal(title="New Order" ok-variant="success" ok-title="Add" v-on:ok="addOrder()")#newOrder
            newOrderModal(ref="modal")
