.hello

    .loading(v-if="isBusy") Loading...

    .error(v-if="error") {{ error }}

    div
        b-table(stripped hover :items="orders" :fields="fields")
            template(v-slot:cell(shippingAddressId)="data")
                b-button(v-if="data.value > 0" variant="primary" :to="{ path: 'locate/'+data.value, params: { addressId: data.value } }") Locate
