div
    b-card(no-body)
        b-tabs(pills justified card)
            b-tab(title="Ordered" active)
                Orders(filter=1)
            b-tab(title="Processing")
                Orders(filter=2)
            b-tab(title="Shipped")
                Orders(filter=3)
            b-tab(title="Received")
                Orders(filter=4)
